<!DOCTYPE html>
<html lang="en">
  <head>
   {{>header}}
  </head>
  <body>
      <header class="header">
      <div class ="logo-button">  
        <div>
            <img src="https://iotkiit.in/_next/image?url=%2Fimages%2Flogo_small.webp&w=828&q=75" alt="IoT Lab Logo" class="logo">
        </div>
        <div class="cta-buttons">
            <a href="registration" class="cta-button">Register</a>
        </div>
      </div>
    </header>
  </body>
</html>