<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body class="index">
    <header>
        {{>navbar}}
        <div class = "title-cont">
            <div class="title"> 
                <h1>Welcome to IoT Lab</h1>
                <p>Empowering innovation with Internet of Things</p>
            </div>
        </div>
    </header>
    <div class="container">
        <section class="recruit-sec">
            <h2>Join Our Team</h2>
            <div class="Rprocess">
                <div class="Process">
                    <h2>Registration</h2>
                    <p>Fill the registration form before the last date by clicking the Register button Above.</p>
                </div>
                <div class="Process">
                    <h2>Interview</h2>
                    <p>Selected candidates will be contacted for interviews.</p>
                </div>
                <div class="Process">
                    <h2>Onboarding</h2>
                    <p>Congratulations! If selected, you will receive an offer to join our team.</p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>